# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"

    - package-ecosystem: "npm"
      directory: "/apps/backend"
      schedule:
          interval: "monthly"
      groups:
          nestjs:
              patterns:
                  - "@nestjs/*"
          prisma:
              patterns:
                  - "prisma"
                  - "@prisma/*"
          jest:
              patterns:
                  - "jest"
                  - "ts-jest"
                  - "@types/jest"

    - package-ecosystem: "npm"
      directory: "/apps/frontend"
      schedule:
          interval: "monthly"
      groups:
          react-stack:
              patterns:
                  - "react*"
                  - "@types/react*"
          next:
              patterns:
                  - "next"
                  - "eslint-config-next"
          tailwind:
              patterns:
                  - "tailwind*"
                  - "@tailwindcss/*"
                  - "prettier-plugin-tailwindcss"
