name: "Lint OpenAPI Specification"

on:
    push:
        branches:
            - main
            - develop
    pull_request:
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: write

jobs:
    linting:
        name: Lint OpenAPI Specification
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Run OpenAPI Linting with vacuum
              uses: pb33f/vacuum-action@v2
              with:
                  openapi_path: apps/backend/openapi.json
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  show_rules: true
